/* Estilos generales de la página */
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    /* Centrado vertical y horizontal de los elementos */
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: blueviolet; /* Color de fondo de la página */
    
    height: 100vh; /* Altura de la página */
    }
  
/* Estilos para la fuente de los iconos de Material Design */
    .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 48px; /* Tamaño preferido de los iconos */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Soporte para todos los navegadores WebKit */
    -webkit-font-smoothing: antialiased;
    /* Soporte para Safari y Chrome */
    text-rendering: optimizeLegibility;

    /* Soporte para Firefox */
    -moz-osx-font-smoothing: grayscale;

    /* Soporte para IE */
    font-feature-settings: "liga";
    }
  
    /* Estilos para el contenedor del formulario */
    .form-container {
    background-color: white; /* Fondo del contenedor */
    width: 80%; /* Ancho del contenedor */
    border-radius: 5px; /* Radio de los bordes del contenedor */
    overflow: hidden; /* Evita que los contenidos desborden el contenedor */
    height: 90vh; /* Altura del contenedor */

    /* Centrado vertical de los elementos */
    display: flex;
    align-items: center;
    }
  
    /* Estilos para el contenedor de inicio de sesión */
    .form-container .login-container {
    width: 500px; /* Ancho del contenedor */
    margin: 0 auto; /* Centrado horizontal del contenedor */
    }

    /* Estilos para el título del contenedor de inicio de sesión */
    .form-container .login-container > h2 {
    text-align: center; /* Alineación del texto */
    font-size: 2.5rem; /* Tamaño de la fuente */
    }
  
    /* Estilos para los textos del contenedor de inicio de sesión */
    .form-container .login-container > p,
    .form-container .login-container span {
    color: #555; /* Color del texto */
    text-align: center; /* Alineación del texto */
    }
  
    /* Estilos para las etiquetas del formulario */
    .form-container .login-container label {
        display: block;
        font-weight: bold;
        padding: 5px 0;
        }
  
    /* Estilos para los campos de entrada del formulario */
    .form-container .login-container input.input {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #ccc; /* Borde del campo de entrada */
    width: 100%; /* Ancho del campo de entrada */
    border-radius: 5px; /* Radio de los bordes del campo de entrada */
    }
  
    /* Estilos para los campos de entrada del formulario cuando están enfocados */
    .form-container .login-container input.input:focus {
        outline: solid 1px rgb(0, 153, 255);
        }

  /* Estilos para los proveedores de inicio de sesión */
.form-container .login-container .providers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 30px;
  }
  
  /* Estilos para los botones de inicio de sesión */
  .form-container .login-container button.btn,
  .form-container .login-container input.btn {
    border: none;
    padding: 15px 0;
    width: 100%;
    font-weight: bolder;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  /* Estilos para el botón de inicio de sesión */
  .form-container .login-container input.btn.btn-login {
    background-color: black;
    color: white;
  }
  
  /* Estilos para el botón de proveedor de Google */
  .form-container .login-container button.btn.google-provider {
    background-color: white;
    color: black;
    border: solid 1px #ccc;
  }
  
  /* Estilos para el botón de proveedor de Facebook */
  .form-container .login-container button.btn.facebook-provider {
    background-color: rgb(10, 82, 216);
    color: white;
    border: 0;
  }
  
  /* Estilos para el botón de proveedor de Twitter */
  .form-container .login-container button.btn.twitter-provider {
    background-color: rgb(10, 168, 216);
    color: white;
    border: 0;
  }
  
  /* Estilos para el botón de proveedor de Google cuando el cursor está sobre él */
  .form-container .login-container button.btn.google-provider:hover {
    background-color: rgb(212, 212, 212);
    color: black;
  }
  
  /* Estilos para el botón de proveedor de Facebook cuando el cursor está sobre él */
  .form-container .login-container button.btn.facebook-provider:hover {
    background-color: rgb(6, 61, 163);
    color: white;
  }
  
  /* Estilos para el botón de proveedor de Twitter cuando el cursor está sobre él */
  .form-container .login-container button.btn.twitter-provider:hover {
    background-color: rgb(7, 133, 172);
    color: white;
  }
  
  /* Estilos para el contenedor de opciones de inicio de sesión */
  .form-container .login-container .options {
    display: flex;
    justify-content: space-between;
  }
  
  /* Estilos para el contenedor de pantalla de bienvenida */
  .form-container .welcome-screen-container {
    background-color: black;
    height: 100%;
    width: 50%;
  }
  
  /* Estilos para cuando la pantalla es menor a 1357px de ancho */
  @media screen and (max-width: 1357px) {
    .form-container {
      width: 95%;
    }
    .form-container .login-container {
      width: 400px;
      margin: 0 auto;
    }
  
    .form-container .welcome-screen-container {
      width: 40%;
    }
  }
  
  /* Estilos para cuando la pantalla es menor a 900px de ancho */
  @media screen and (max-width: 900px) {
    .form-container .login-container {
      width: 400px;
      margin: 0 auto;
    }
  
    .form-container .welcome-screen-container {
      width: 0%;
    }
  }
  